body {
  width: 100%;
  margin: auto;
  background-color: tan;
  margin: 0 auto;
}

#main h1 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 35px;
}

#img-div {
  text-align: center;
}

#image {
  width: 60%;
}

#facts {
  height: 10px;
  margin-top: 50px;
}

#facts h1 {
  text-align: left;
}

#facts-img {
  float: left;
  height: 350px;
  width: 250px;
}

#facts-info {
  float: left;
}

#facts-info li {
  list-style: none;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  padding-bottom: 20px;
}
#img-caption {
  font-size: medium;
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#tribute-info {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
}

.container {
  margin: 0 70px;
}

#tribute-link {
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

@media (max-width: 400px) {
}
